{% extends 'base.html' %}

{% block content %}
    <h1> This is the register page </h1>

    <form class="form-horizontal" method="POST"> 
        
        {% csrf_token %}
        
        <fieldset>
            <div id="legend">
                <legend>Registration Page</legend>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">UserName</label>
                <div class="controls">
                    {{form.username}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="first_name">FirstName</label>
                <div class="controls">
                    {{form.first_name}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="last_name">LastName</label>
                <div class="controls">
                    {{form.last_name}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{form.email}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password1">Password</label>
                <div class="controls">
                    {{form.password1}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password2">Confirm Password</label>
                <div class="controls">
                    {{form.password2}}
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success">Register</button>
                </div>
            </div>
        </fieldset>

    </form>

    <form method="POST"> 
    
        {% csrf_token %}

        {{form.as_p}}
        
        <button type="submit">Register</button>
    </form>


{% endblock %}