{% extends 'storage/base.html' %}

{% load static %}

{% block content %}
    <div class="col-lg-12 align-self-center">
        <div class="main-bcgr text-white border border-white"><h1>{{obekt.name|upper}}</h1></div>
    </div>
    <div class="row p-3">
        <div class="col-lg-4">
            <img class="material-image upload-image" src="{% static obekt.image %}"/>
        </div>
        <div class="col-lg-8">
            <table border="1" class="table w-100">
                <tr>
                    <th>ОБЕКТ</th>
                    <th>{{obekt.name|upper}}</th>
                </tr>
                    <tr>
                        <td>ТЕХ. РЪКОВОДИТЕЛ</td>
                        <td>{{technicheski|upper}}</td>
                    </tr>
                    <tr>
                        <td>АДРЕС</td>
                        <td>{{obekt.address}}</td>
                    </tr>
                    <tr>
                        <td>ИВЕСТИТОР</td>
                        <td>{{obekt.investor}}</td>
                    </tr>

            </table>
        </div>
    </div>
    <div class="row">
        {% if request.user.personal.position == 'Ad' %}
            <div class="col-lg-3 p-2">
                <a href="{% url 'storage:obekt_update' obekt.id %}"><button type="button" class="btn main-bcgr text-light border border-dark w-75">ПРОМЕНИ</button></a>
            </div>
            <div class="col-lg-3 p-2">
                <a href="{% url 'storage:obekt_delete' obekt.id %}"><button type="button" class="btn main-bcgr text-light border border-dark w-75">ИЗТРИИ</button></a>
            </div>
        {% endif %}
            <div class="col-lg-3 p-2">
                <a href="{% url 'storage:obekt_nalichnost' obekt.id %}"><button type="button" class="btn main-bcgr text-light border border-dark w-75">НАЛИЧНОСТ</button></a>
            </div>

    </div>

    {% if request.user.personal.name == technicheski  %}
        {% for order in orders  %}
            <p>{{order.obekt}} - {{order.material}} - {{order.amount}} {{order.amount_type}} -- {{order.date_ordered}}</p>
        {% endfor %}
    {% endif %}




{% endblock content %}

