{% extends 'storage/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="container col-6" style="margin-top: 30px;">
        <form action="" method="post" id="upload_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn main-bcgr text-light" type="submit" value="ДОБАВИ">
            <input class="btn main-bcgr text-light" type="submit" value="ОТКАЖИ" onclick="window.location.href='{% url 'storage:material_type_list' %}';return false;">

        </form>
    </div>

{% endblock content %}

